.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem;
  margin-bottom: 1.5rem;
  height: 7rem;
  border-radius: 0.35rem;

  background-color: rgba(233,233,233,0.05);


  .dayWrapper {
    min-width: 8rem;

    .day {
      font-size: 1.15rem;
      font-weight: bold;
      text-align: left;
    }
    .smallDate {
      font-size: 0.75rem;
    }

    /* 379 */
    @media(max-width:23.688rem) {
      min-width: auto;
    }
  }

  .weatherCodeWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 6rem;
    height: 100%;
    margin-right: 0.5rem;

    .icon{
      position: relative;
      height: 3rem;
      width: 3rem;
      margin-bottom: 0.5rem;
    }

    .smallDescription{
      font-size: 0.85rem;
      font-weight: bold;
    }
  }

  .summaryWrapper {
    margin-right: 1rem;
    flex-shrink: 0;

    .min {
      margin-bottom: 0.5rem;
    }
  }

  .chartWrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;

    canvas {
      height: 100% !important;
    }

    /* 539 */
    @media(max-width:33.688rem){
      display: none;
      visibility: hidden;
    }
  }

}
