#recommendations {
  /* 539 */
  @media(max-width:33.688rem){
    padding: 1rem 2rem 0;
  }

  h3 {
    margin-bottom: 1rem;
  }

  > div {
    display: flex;
    height: 3rem;
    align-items: center;
    margin-bottom: 1rem;

    .icon {
      width: 3rem;
      height: 3rem;
      margin-right: 0.75rem;
    }
  }
}
