* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#weatherApp {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 4rem 0;

  min-height: 100vh;
  height: auto;

  background: var(--chetwode-blue);
  background: linear-gradient(0deg, var(--chetwode-blue) 0%, var(--steel-blue) 100%);
}

strong {
  font-weight: bold;
}


@media (prefers-color-scheme: dark) {
  * {
    color: #cccccc;
  }
  #weatherApp {
    background: var(--rhino);
    background: linear-gradient(0deg, var(--rhino) 0%, var(--mirage) 100%);
  }
}
